/* Calculator styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, rgb(116, 69, 211), rgb(0, 28, 209));
  margin: 0;
  font-family: Arial;
  }


  .out{
    transition: all 0.5s;
    border-radius: 30px;
  }
  .out:hover{
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(0, 3, 64);
  }
  .calculator {
    background: linear-gradient(45deg, rgb(0, 45, 227), rgb(98, 83, 232));
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(0, 10, 65) ;
    transition: all 0.4s;
  }

  .calculator:hover{
    box-shadow: 0px 0px 20px rgb(13, 33, 120) ;
  }
  
  #display {
    width: calc(100% - 20px);
    margin-bottom: 40px;
    padding: 10px;
    border: none;
    border-radius: 40px;
    font-size: 24px;
    text-align: right;
    box-shadow: 0px 0px 10px rgb(50, 49, 49);
  }
  
  .buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .button {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.4s;
  }
  
  .button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }

  .button:active{
    background-color: rgb(255, 255, 255);
    color :rgb(0, 0, 0);
  }
  
  .equal {
    grid-column: span 2;
    background-color: #dc4532;
    color: white;
  }

  .equal:hover{
    background-color: #00b803;
    color: black;
  }

  .equal:active{
    background-color: #000000;
    color: white;
  }